.main{
    display:flex ;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 100px;
    gap: 30px;

}
.text_input_container{
    width: 70%;
}
